@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply py-2.5 px-5 text-sm font-medium inline-flex items-center gap-2 text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200;
	}
}

.mapboxgl-popup {
	@apply text-black;
}

.mapboxgl-popup .mapboxgl-popup-content {
	@apply px-4 pt-4 overflow-hidden text-center rounded-lg;
}
.mapboxgl-popup .mapboxgl-popup-close-button {
	@apply lg:opacity-0 px-1 py-0 text-sm text-red-500 transition duration-150;
}
.mapboxgl-popup:hover .mapboxgl-popup-close-button {
	@apply opacity-100;
}

.app-layout {
	display: grid;
	grid-template-areas:
		'header'
		'main'
		'map'
		'footer';

	min-height: 100vh;
}

@media (min-width: 768px) {
	.app-layout {
		grid-template-areas:
			'header map'
			'main map'
			'footer map';
		grid-template-columns: minmax(auto, 30rem) 1fr;
	}
}

@media (min-width: 768px) {
	.main-section {
		height: calc(100vh - 8rem);
		overflow-y: auto;
	}

	.main-section::-webkit-scrollbar {
		width: 0.5rem;
	}
	.main-section::-webkit-scrollbar-thumb {
		@apply bg-gray-800;
	}
}
